.close {
    position: absolute;
    right: 32px;
    width: 32px;
    opacity: 0.3;
    cursor: pointer;
  }

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  top: 5px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.task {
    width: 100%;
    text-align: left;
    padding: 10px 0px 10px 25px;
    position: relative;
}

.task b {
    margin-left: 10px;
    font-size: large;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }