.App {
  text-align: center;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100%;
  position: relative;
}

#wrapper {
  width: 500px;
  height: 300px;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 40px 30px 40px 30px;
}

h1 {
  font-size: 64px;
  color: whitesmoke;
  margin-top: -150px;
  margin-bottom: 70px;
}